// ---------- COLORS ----------

$white: #FFFFFF;
$lightgrey: #E3E3D8;
$grey: #C1C0B9;
$lightyellow: #F3DC90;
$yellow: #EDC748;
$lightred: #E8494C;
$red: #C62325;
$lightgreen: #415B5C;
$green: #28393A;
$black: #000000;

$trans-black: rgba(0, 0, 0, 0.196);
$trans-white: rgba(255, 255, 255, 0.165);