// ---------- COLORS ----------

$white: #ffffff;
$lightgrey: #e3e3d8;
$grey: #c1c0b9;
$lightyellow: #f3dc90;
$yellow: #edc748;
$lightred: #e8494c;
$red: #c62325;
$lightgreen: #415b5c;
$green: #28393a;
$black: #000000;

$trans-black: rgba(0, 0, 0, 0.196);
$trans-white: rgba(255, 255, 255, 0.165);
